<p appFormControl [appFormControl]="'yellow'">Hello me</p>
<p appFormControl [appFormControl]="'orange'">Hello me</p>
<div class="wrapper">
  <h2>Last item takes up all available space</h2>
  <div class="grid">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>

  <h2>Last 2 items are centrally aligned</h2>
  <div class="grid grid--2">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</div>
<div class="level1">
  <div class="level1-item">
    china
    <div class="level2-item">newbee</div>
    <div class="level2-item">
      lgd
      <div class="level3-item">lgd</div>
      <div class="level3-item">lfy</div>
    </div>
  </div>
  <div class="level1-item">
    world
    <div class="level2-item">liquid</div>
  </div>
</div>


