/* You can add global styles to this file, and also import other style files */
@import "./base.scss";
//

.iconfont {
  @extend %iconfont;
}

@function breakpoint-infix($key, $value) {
  @return if($key == $value, "", "-#{$key}");
}

@each $prop,
$abbrev in ( margin: m,
padding: p) {
  @each $name,
  $value in $sites {
    $site: breakpoint-infix($value, null);
    @each $size,
    $length in $sizes {
      $type: breakpoint-infix($size, df);
      .#{$abbrev}-#{$name}#{$type} {
        #{$prop}#{$site}: $length !important;
      }
    }
  }
}
//

$zhu:red;

.zhu{
  color:$zhu;
}

body,html{
  height: 100%;
  overflow: hidden;
}

body,
ul,
ol,
dd {
  margin: 0;
}

ul,
ol{
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input,
textarea,
select,
button {
  font-size: $font-size-base;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "黑体", Arial, sans-serif;
}

button,
label {
  cursor: pointer;
}

body {
  font-size: $font-size-base !important;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "黑体", Arial, sans-serif !important;
  line-height: $line-height-base !important;
  color: $color-minor;
}

.web-layout{
  display: flex;
  height: 100%;
}

.layout-sideBar{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width:220px;
  background: #22262e;
  .accounts{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 14px;
    height: 54px;
    background: #000;
    font-size: $font-size-title;
    color: #fff;
    cursor: pointer;
    img {
      flex-shrink: 0;
      width: 26px;
      height: 26px;
    }
    .name {
      flex: 1;
      margin-left: 14px;
    }
  }
  .menu-box {
    flex: 1;
    width: 80px;
    background: #22262e;
    .first-level-list {
      line-height: 54px;
      &>li {
        vertical-align: middle;
        color: #818b97;
        &.active {
          background: #dd433e;
          color: #fff;
        }
        &:hover {
          background: #dd433e;
          color: #fff;
        }
        &.active {
          .second-level-list {
            display: block;
          }
        }
        &>.iconfontFather {
          width: 80px;
          height: 54px;
          cursor: pointer;
          padding-left: 15px;
          display: flex;
          align-items: center;
          &>.iconfont {
            text-align: center;
            font-size: 18px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}
